* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.light-theme {
    background-color: white;
    color: black;
}
body.dark-theme {
    background-color: black;
    color: white;
}
body.blue-theme {
    background-color: blue;
    color: yellow;
}

#theme-section, #form-section, #weather-section {
    margin-top: 20px;
}

.heading {
    text-align: center;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#theme-section, #form-section, #weather-section {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.dark-theme #theme-section {
    border: 2px solid white;
}

.dark-theme #form-section {
    border: 2px solid white;
}

.dark-theme #weather-section {
    border: 2px solid white;
}

.blue-theme #theme-section {
    border: 2px solid yellow;
}

.blue-theme #form-section {
    border: 2px solid yellow;
}

.blue-theme #weather-section {
    border: 2px solid yellow;
}

select {
    margin-top: 10px;
    padding: 5px 10px;
    font-family: cursive;
    font-size: 16px;
}

label {
    font-size: 18px;
    font-family: cursive;
}

input {
    padding: 8px 25px;
}

#registration-form button {
    padding: 8px 25px;
    border-radius: 15px;
    transition: all .8s ease;
    font-family: cursive;
    font-size: 16px;
    /* border: none; */
}

#registration-form button:hover {
    background: transparent;
    transform: translateY(-5px);
    transition: all .5s ease;
}

.dark-theme #registration-form button:hover{
    color: white;
}

.blue-theme #registration-form button:hover{
    color: yellow;
}